.container-navbar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px; 
    margin: 0 auto; 
    color: #fff;
}

.container-main-navbar {
    border: 1px solid #ccc; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #12579b, #00bfff); /* Degradê azul */
}
