.container-navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: gray;
}

.container-main-navbar {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

@media (max-width: 768px) {
  .container-navbar {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .container-main-navbar {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  .container-login {
    margin-left: 12px;
  }
}

@media (min-width: 769px) {
  .container-navbar {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .container-main-navbar {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  .container-login {
    margin-left: 12px;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
