.card {
  width: 300px;
  height: 300px; /* Mantém a altura do card */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  transition: transform 0.2s;
  position: relative; /* Para posicionar o conteúdo corretamente */
}

.card img {
  width: 100%; /* A imagem ocupa 100% da largura do card */
  height: 100%; /* A imagem ocupa 100% da altura do card */
  object-fit: cover; /* Garante que a imagem mantenha a proporção e cubra todo o card */
  border-radius: 10px; /* Para manter o arredondamento dos cantos */
}

.card:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente */
  padding: 20px;
  color: #fff;
  text-align: center;
}

.card-title {
  font-size: 24px;
  margin: 0;
}

.card-description {
  font-size: 16px;
  margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    height: 250px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .card {
    height: 200px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 12px;
  }
}
