.search-travel {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.541);
  border-radius: 8px;
  margin-top: 40px;
}

.search-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 8px 5px;
  flex: 1 1 48%;
  position: relative;
}

.input-group input {
  flex: 1;
  padding: 8px 8px 8px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.input-group .icon {
  position: absolute;
  left: 10px;
  color: #888;
  font-size: 16px;
}

.button-selections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  padding: 8px 15px;
  background-color: #FFAE00;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
}

.search-button:hover {
  background-color: #ffae00a6;
}

.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.tab-button {
  background: none;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  color: #333;
  font-size: 13px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.tab-button:hover {
  border-bottom: 2px solid #ccc;
}

.tab-button.active {
  border-bottom: 2px solid #007bff;
}

.tab-content {
  margin-top: 15px;
}

.slider {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://img.freepik.com/fotos-gratis/paisagem-natural_181624-30165.jpg?t=st=1729446185~exp=1729449785~hmac=e335cd69ab504ebc64fe248785065fa570aa3f3e1501e776a1b9e1889c45e429&w=1800"); /* Imagem inicial */
  animation: slideBackground 20s infinite ease-in-out; 
  z-index: -1;
}

@keyframes slideBackground {
  0% {
    background-image: url("https://img.freepik.com/fotos-gratis/paisagem-natural_181624-30165.jpg?t=st=1729446185~exp=1729449785~hmac=e335cd69ab504ebc64fe248785065fa570aa3f3e1501e776a1b9e1889c45e429&w=1800");
    opacity: 1;
  }
  25% {
    background-image: url("https://img.freepik.com/fotos-gratis/bela-foto-das-montanhas-refletindo-no-lago-frio-sob-o-ceu-nublado_181624-4446.jpg?t=st=1729446369~exp=1729449969~hmac=1f0065afba8979f812bfd6d4a3eb9b9dd5ea351e43af2b49f99773ddb52706ca&w=1380");
    opacity: 1;
  }
  50% {
    background-image: url("https://img.freepik.com/fotos-gratis/paisagem-de-formacoes-rochosas-naturais_23-2151723098.jpg?t=st=1729446518~exp=1729450118~hmac=214619be13483d62615c1e94fc775422b3e8248373c52b91225a77b5218cb386&w=2000");
    opacity: 1;
  }
  75% {
    background-image: url("https://img.freepik.com/fotos-gratis/vista-panoramica-das-colinas-rochosas-de-vestrahorn-na-peninsula-islandesa-com-praia-de-areia-preta-unica-e-ambiente-nordico-ao-ar-livre-paisagem-incrivel-criada-pelo-topo-da-montanha-e-pelas-ondas-do-mar_482257-69753.jpg?t=st=1729446428~exp=1729450028~hmac=8ffddb4f19a92c031e95c757a2c0999621d42d55e14b513b90dcd618e2c34452&w=1800");
    opacity: 1;
  }
  100% {
    background-image: url("https://img.freepik.com/fotos-gratis/paisagem-natural_181624-30165.jpg?t=st=1729446185~exp=1729449785~hmac=e335cd69ab504ebc64fe248785065fa570aa3f3e1501e776a1b9e1889c45e429&w=1800"); /* Volta para a imagem 1 */
    opacity: 1;
  }
}

.slider::before {
  animation: slideBackground 20s infinite; /* Ajusta o tempo total da animação */
  transition: background-image 1s ease-in-out; /* Transição suave entre as imagens */
}

@media (min-width: 400px) {
  .search-travel {
    margin: 10px;
  }
  .input-group {
    flex: 1 1 100%;
  }

  .button-selections {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 569px) {
  .input-group {
    display: flex;
    align-items: center;
    margin: 8px 5px;
    flex: 1 1 48%;
    position: relative;
  }

  .button-selections {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 660px) {
  .search-travel {
    margin: 0 auto;
    margin-top: 40px;
  }
}
