.search-travel {
  max-width: 700px; 
  margin: 0 auto;
  padding: 15px; 
  text-align: center;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.541); 
  border-radius: 8px; 
  margin-top: 40px;
}

.search-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px; 
}

.input-group {
  display: flex;
  align-items: center;
  margin: 8px 5px; 
  flex: 1 1 48%; 
  position: relative; 
}

.input-group input {
  flex: 1;
  padding: 8px 8px 8px 35px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; 
}

.input-group .icon {
  position: absolute;
  left: 10px; 
  color: #888;
  font-size: 16px;
}

.button-selections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  padding: 8px 15px; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
}

.search-button:hover {
  background-color: #0056b3;
}

.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px; 
}

.tab-button {
  background: none;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  color: #333;
  font-size: 13px; 
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.tab-button:hover {
  border-bottom: 2px solid #ccc;
}

.tab-button.active {
  border-bottom: 2px solid #007bff;
}

.tab-content {
  margin-top: 15px; 
}

@media (min-width: 400px) {
  .search-travel {
    margin: 10px;
  }
  .input-group {
    flex: 1 1 100%; 
  }

  .button-selections {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 569px) {
  .input-group {
    display: flex;
    align-items: center;
    margin: 8px 5px; 
    flex: 1 1 48%;
    position: relative; 
  }

  .button-selections {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 660px) {
  .search-travel {
    margin: 0 auto;
    margin-top: 40px;
  }
}

