@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --theme-bg-color: linear-gradient(to bottom, #fdd835, #fbc12d);
    --theme-bg-color-2: #5f61641f;
    --color-font-text-title: #333333;
    --color-bg-notification :#FF0000;
    --color-font-text-subtitle : #ffff;
    --book-color-btn-border: #333333;
    --book-color-btn-primary: linear-gradient(to bottom, #fdd835, #fbc12d);
    --book-color-btn-primary-hover: linear-gradient(to bottom, #fdd835, #fbc12d98);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

html,
body {
    background-color: var(--dsc-color-primary);
}

main {
    padding: 0 20px;
}

.travel-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}